body {
  margin: 0;
  background: #F8FFFF;
  font-family: 'Montserrat';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto auto 50px auto;
  max-width: 1232px;
  flex-wrap: wrap;
}

.link {
  display: flex;
  flex-wrap: wrap;
}

.link>a {
  justify-content: space-around;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #006461;
  padding: 10px;
}

.tel {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #006966;
}




.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  margin: 150px auto;
  max-width: 1232px;
}




.container-0 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 150px auto;
  max-width: 1232px;
}

.short-description {
  max-width: 658px;
  text-align: left;
}

.mini-p {
  color: #006461;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 135.52%;

  max-width: 268px;
}

.mimi-p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #005250;
}

.short-description>h2 {
  background: linear-gradient(96.38deg, #009B97 9.94%, #5FCCB6 88.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 55px;
  line-height: 112.52%;

  letter-spacing: 0.005em;
}

.description-button {
  background: linear-gradient(267.76deg, #EDB7C4 11.05%, #FFD9E2 40.73%, #FF91AB 75.8%);
  box-shadow: 0px 2px 0px #A67E87;
  border-radius: 10px;

  width: 253px;
  height: 62px;
  border: none;
  cursor: pointer;
}

.video>img {
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid #F3A4B7;
  max-width: 402px;
  width: 100%;
}



.clinic-img {
  max-width: 651px;
  width: 100%;
}



.about-clinic {
  max-width: 497px;
  text-align: left;
  padding: 20px;
}

.about-clinic>div {
  margin-bottom: 30px;
}

.about-clinic>div>h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 135.52%;

  color: #009B97;
}

.about-clinic>div>h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 135.52%;

  color: #5FCCB6;
}

.teraphy {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #434343;
}

.post {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135.52%;

  color: #003433;
}

.services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-hover {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.button-services {
  background: linear-gradient(267.76deg, #EDB7C4 11.05%, #FF91AB 75.8%);
  border-radius: 10px;

  width: 253px;
  height: 62px;
  border: none;
  cursor: pointer;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  text-align: center;
  letter-spacing: 0.125em;

  color: #70001B;
}

.container-serviecs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px;
  align-items: center;
}

.services-point-item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.01em;

  color: #002726;
  width: 554px;
  cursor: pointer;
}

.point-is-active {
  font-weight: 600;
  color: #00615E;
  background-image: url("../public/img/icon.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.services-point>div {
  border-top: 1px solid #C9C9C9;
  padding: 15px 0;
}

.services-point>div:last-child {
  border-bottom: 1px solid #C9C9C9;
  padding: 15px 0;
}

.name-services {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 135.52%;

  color: #009B97;
}

.services-list {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-x: hidden;
  padding-right: 20px;
}


.services-list-point {
  display: flex;
  text-align: left;
  justify-content: space-between;
  padding-bottom: 10px;
}

.services-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.01em;

  color: #000000;
  margin: 10px;
  max-width: 490px;
  flex-wrap: wrap;
}

.services-price {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.01em;

  color: #242424;
}







.droppers-slider {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-height: 434px;
  overflow: hidden;
  max-width: 1232px;
}

.dropper {
  background: #E4ECEA;
  border-radius: 19px;
  margin: auto;
  width: 297px;
  height: 434px;
}

.dropper-modal {
  background: #E4ECEA;
  border-radius: 19px;
  margin: auto;
  width: 297px;
  height: 434px;
}

.dropper-modal>img {
  max-width: 100%;
}


.dropper-element {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.button-dropper {
  background: linear-gradient(180deg, #FF9999 0%, #FF95A0 70.83%, #FF8EA9 100%);
  border-radius: 37px;
  border: none;
  
  width: 241px;
  height: 66px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 135.52%;

  color: #FFFFFF;
  margin-left: 32px;
  margin-top: -25px;
  cursor: pointer;
}

.button-dropper-modal {
  background: linear-gradient(180deg, #5FCCB6 0%, #1E8C76 100%);
  border-radius: 37px;
  border: none;
  
  width: 241px;
  height: 66px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 135.52%;

  color: #FFFFFF;
  margin-left: 32px;
  margin-top: -30px;
  cursor: pointer;
}

.dropper-price {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 135.52%;

  color: #009B97;
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrows>h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 135.52%;

  color: #009B97;
}

.arrows>div {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 135.52%;

  color: #009B97;
}

.specialists {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* max-height: 400px; */
  /* overflow: hidden; */
  /* max-width: 1232px; */
}

.specialist {
  max-width: 301px;
}

.mobile-specialists {
  display: none;
}

.specialist-name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 135.52%;

  color: #004B49;
  text-align: left;
}

.our-specialists {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 135.52%;

  color: #009B97;
  text-align: left;
}

.specialization {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135.52%;

  color: #4A4A4A;
  text-align: left;
}

.rewiews {
  background: linear-gradient(180deg, #DDFFE0 0%, #C5FFF3 100%);
  border-radius: 19px;
  /* width: 325px; */
  height: 390px;
  padding: 15px;
  text-align: left;
}

.rewiews-name>h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 135.52%;  
  
  color: #3D3D3D;  
}

.rewiews-name>p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 135.52%;

  color: #3D3D3D;
}

.rewiews>p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 146.02%;

  color: #2D2D2D;
}

.rewiews-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 434px;
  overflow: hidden;
  max-width: 1232px;
}




footer {
  border-top: 1px solid #5FCCB6;
  background: #FFFFFF;
}

.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1232px;
  margin: auto;
  flex-wrap: wrap;
}

.logo-footer>img {
  margin-left: -25px;
}

.tel-footer {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  color: #006966;
}

.inc-name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 135.52%;

  color: #5A5A5A;
  text-align: right;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.link-footer {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 135.52%;

  color: #8D8D8D;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.link-footer>p {
  padding: 5px;
}

footer>div>h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 135.52%;

  color: #5FCCB6;
}



.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 10;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  padding: 20px;
  background: #FFFFFF;
  border-radius: 52px;
  transform: scale(0.5);
  transition: 0.4s all;
  width: 80vw;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
  
}

.modal__content.active {
  transform: scale(1);
}

.modal-description {
  max-width: 70%;
}

.cross-modal {
  display: flex;
  justify-content: right;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .specialists {
    display: none;
  }
  .mobile-specialists {
    display: block;
  }  
}


@media (max-width: 1100px) {
  .container {
    justify-content: center; 
  }
  .short-description {
    text-align: center;
  }   
  .mini-p {
    max-width: 100%;
  }
}

@media (max-width: 1140px) {
  .services-hover {
    justify-content: space-evenly;
  }
  .services {
    justify-content: center;
  }
}

@media (max-width: 580px) {
  .services-point {
    width: 100%;
  }
  .services-point-item {
    width: 100%;
  }
}