body {
    margin: 0;
    background: #F8FFFF;
    font-family: 'Montserrat';
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
    overflow: hidden;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1232px;
}

.menu-btn {
    display: none;
}

.mobile-menu {
    /* display: flex; */
    position: fixed;
    left: 0;
    right: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #F8FFFF;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    /* margin-top: 200px; */
    /* padding-top: 30px; */
    z-index: 10;
}

.menu-btn-mobile {
    padding: 1em;
}

.mobile-pic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1232px;
  margin: 0;
}

.mobile-menu li {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: #1E8C76 1px solid;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 30px;
    border-bottom: #1E8C76 1px solid;
    width: 100%;
}

.mobile-menu li a {
    padding: 0 20px;
}


.link {
    display: flex;
    flex-wrap: wrap;
}

.link > a {
    justify-content: space-around;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #006461;
    padding: 10px;
}

.tel {
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #006966;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    margin: 150px auto;
    max-width: 1232px;
}

.container-description {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    margin: 150px auto;
    max-width: 1232px;
}

.container-0 {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 150px auto;
    max-width: 1232px;
}

.short-description {
    max-width: 658px;
    text-align: left;
    margin-top: -30px;
}

.mini-p {
    color: #006461;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 135.52%;
    margin-bottom: 90px;
    margin-top: 36px;
    max-width: 268px;
}

.mimi-p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #005250;
}

.short-description > h1 {
    background: linear-gradient(96.38deg, #009B97 9.94%, #5FCCB6 88.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 112.52%;
    letter-spacing: 0.005em;
    margin: 0;
}

.description-button {
    background: linear-gradient(267.76deg, #EDB7C4 11.05%, #FFD9E2 40.73%, #FF91AB 75.8%);
    box-shadow: 0px 2px 0px #A67E87;
    border-radius: 10px;
    width: 253px;
    height: 62px;
    border: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 2px;
    color: #70001B;
    transition: 0.2s;
}

.description-button:hover {
    filter: drop-shadow(0px 7px 15px #FFC5D2);
}

.video {
    box-sizing: border-box;
    position: relative;
    max-width: 402px;
    width: 100%;
    z-index: 2;


}

.video-svg {
    max-width: 402px;
    width: 100%;
    cursor: pointer;
    margin: 20px 0;
}

.video-modal {
    /* border: 1px solid #F3A4B7; */
    /* border-radius: 20px; */
    max-width: 1400px;
    max-height: 80%;
}

.clinic-img {
    max-width: 651px;
    width: 100%;
}

.eliple-1 {
    position: absolute;
    left: 50px;
    top: -75px;
    z-index: -1;
}

.eliple-2 {
    position: absolute;
    left: 280px;
    top: 135px;
    z-index: -1;
}

.eliple-5 {
    position: absolute;
    left: -120px;
    top: 47px;
    z-index: -1;
}

.eliple-6 {
    position: absolute;
    left: 390px;
    top: 300px;
    z-index: -1;
}

.eliple-8 {
    position: absolute;
    left: -125px;
    top: 65px;
    z-index: -1;
}

.eliple-9 {
    position: absolute;
    left: 270px;
    top: -20px;
    z-index: -1;
}

.button-play-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 153px;
  top: 160px;
  width: 107.04px;
  height: 107.04px;
  background: rgba(255, 255, 255, 0.78);
  border-radius: 50%;
}

.about-clinic {
    max-width: 497px;
    text-align: left;
    padding: 20px;
}

.about-clinic > div {
    margin-bottom: 30px;
}

.about-clinic > div > h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 135.52%;

    color: #009B97;
}

.about-clinic > div > h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 135.52%;

    color: #5FCCB6;
}

.teraphy {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #434343;
}

.post {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135.52%;
    margin-top: -10px;
    color: #003433;
}

.mobile-services {
    display: none;
    justify-content: center;
}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 55px;
}

.services-hover {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.button-services {
    background: linear-gradient(267.76deg, #EDB7C4 11.05%, #FF91AB 75.8%);
    border-radius: 10px;
    width: 253px;
    height: 62px;
    border: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.125em;
    color: #70001B;
    transition: 0.2s;
}

.button-services:hover {
    box-shadow: 0px 2px 15px #FFC5D2;
}

.container-serviecs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
    align-items: center;
}

.services-point-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.01em;

    color: #002726;
    width: 554px;
    cursor: pointer;
}

.point-is-active {
    font-weight: 600;
    color: #00615E;
    background-image: url("../public/img/icon.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.services-point > div {
    border-top: 1px solid #C9C9C9;
    padding: 15px 0;
}

.services-point > div:last-child {
    border-bottom: 1px solid #C9C9C9;
    padding: 15px 0;
}

.name-services {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 135.52%;

    color: #009B97;
}

.services-list {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow-x: hidden;
    padding-right: 20px;
    width: 100%;
    max-width: 620px;
}

.services-list::-webkit-scrollbar {
    width: 8px; /* ширина всей полосы прокрутки */
}

.services-list::-webkit-scrollbar-track {
    background: #D9D9D9;
    border-radius: 20px; /* округлось бегунка */
}

.services-list::-webkit-scrollbar-thumb {
    background-color: #8A8A8A; /* цвет бегунка */
    border-radius: 20px; /* округлось бегунка */
    border: 3px solid #8A8A8A; /* отступ вокруг бегунка */
}


.services-list-point {
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding-bottom: 10px;
}

.services-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: 0.01em;

    color: #000000;
    margin: 10px;
    max-width: 490px;
    flex-wrap: wrap;
}

.services-price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: 0.01em;

    color: #242424;
}


.droppers-slider {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-height: 434px;
    overflow: hidden;
    max-width: 1232px;
}

.dropper {
    background: #E4ECEA;
    border-radius: 19px;
    margin: auto;
    width: 297px;
    height: 434px;
}

.dropper-modal {
    background: #E4ECEA;
    border-radius: 19px;
    width: 297px;
    height: 434px;
}

.dropper-modal > img {
    max-width: 100%;
}


.dropper-element {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.button-dropper {
    background: linear-gradient(180deg, #FF9999 0%, #FF95A0 70.83%, #FF8EA9 100%);
    border-radius: 37px;
    border: none;
    width: 241px;
    height: 66px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 135.52%;
    color: #FFFFFF;
    margin-left: 32px;
    margin-top: -25px;
    cursor: pointer;
    transition: 0.2s;
}

.button-dropper:hover {
    background: linear-gradient(180deg, #ff6060 0%, #ff7380 70.83%, #ff658c 100%);
}

.button-dropper-modal {
    background: linear-gradient(180deg, #5FCCB6 0%, #1E8C76 100%);
    border-radius: 37px;
    border: none;

    width: 241px;
    height: 66px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 135.52%;

    color: #FFFFFF;
    margin-left: 32px;
    margin-top: -30px;
    cursor: pointer;
}

.dropper-price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 135.52%;

    color: #009B97;
}

.arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrows > h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 135.52%;

    color: #009B97;
}

.arrows > div {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135.52%;

    color: #009B97;
}

.specialists {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* max-height: 400px; */
    /* overflow: hidden; */
    /* max-width: 50%; */
}

.specialist {
    max-width: 300px;
}

.specialist > img {
    width: 100%;
    border-radius: 20px;
}

.mobile-specialists {
    display: none;
}

.specialist-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 135.52%;

    color: #004B49;
    text-align: left;
}

.our-specialists {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 135.52%;

    color: #009B97;
    text-align: left;
    margin-bottom: 30px;
}

.specialization {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135.52%;

    color: #4A4A4A;
    text-align: left;
}

.rewiews {
    background: linear-gradient(180deg, #DDFFE0 0%, #C5FFF3 100%);
    border-radius: 19px;
    /* width: 325px; */
    height: 390px;
    padding: 15px;
    text-align: left;
}

.rewiews-name > h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 135.52%;

    color: #3D3D3D;
}

.rewiews-name > p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 135.52%;

    color: #3D3D3D;
}

.rewiews > p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 146.02%;

    color: #2D2D2D;
}

.rewiews-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 434px;
    overflow: hidden;
    max-width: 1232px;
}

.container-contacts {
    display: flex;
}

.y-map {
    width: 50%;
    height: 526px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #E6FFFA;
    width: 50%;
    height: 526px;
}

.contacts-tel {
    padding: 31px 40px 0 55px;
}

.working-hours {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 58px 55px;
}

.work-day {
    display: flex;
}

.work-day > p {
    margin-right: 15px;
}


footer {
    border-top: 1px solid #5FCCB6;
    background: #FFFFFF;
    padding: 30px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1232px;
    margin: auto;
    flex-wrap: wrap;
    padding: 40px 0;
}

.footer-name-link {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.tel-footer {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    margin-top: 50px;
    color: #006966;
}

.inc-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 135.52%;

    color: #5A5A5A;
    text-align: right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.inc-name > p {
    margin: 0;
}

.inc-name > p:first {
    margin: 10px 0;
}


.link-footer {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 135.52%;

    color: #8D8D8D;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.link-footer > a {
    padding: 5px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 135.52%;

    color: #8D8D8D;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

footer > div > h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 135.52%;

    color: #5FCCB6;
}


.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index: 10;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    background: #FFFFFF;
    border-radius: 20px;
    transform: scale(0.5);
    transition: 0.4s all;
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 60%;
    padding: 50px 30px;
}

.modal__content.active {
    transform: scale(1);
}

.modal-description {
    max-width: 70%;
}

.cross-modal {
    display: flex;
    justify-content: right;
    align-items: flex-start;
}

@media (max-width: 375px) {
  .button-play-container {
    left: 140px;
    top: 145px;
  }
}

@media (max-width: 320px) {
  .button-play-container {
    left: 113px;
    top: 121px;
  }  
}

@media (max-width: 1232px) {
    .about-clinic > div > h1, .name-services, .arrows > h1, .our-specialists {
        padding-left: 30px;
    }
}


@media (max-width: 768px) {
    .App {
        background-size: auto;
    }

    .specialists {
        display: none;
    }

    .mobile-specialists {
        display: block;
    }

    .container-contacts {
        flex-direction: column-reverse;
    }

    .y-map {
        width: 100%;
        height: 263px;
    }

    .contacts {
        width: 100%;
    }

    .container-contacts {
        margin-bottom: -150px;
    }
}


@media (max-width: 1100px) {
    .container {
        justify-content: center;
    }

    .container-description {
        justify-content: center;
    }

    .short-description {
        text-align: center;
    }

    .mini-p {
        max-width: 100%;
    }
}

@media (max-width: 1140px) {
    .services-hover {
        justify-content: space-evenly;
    }

    /* .services-point-item {
      width: 40vw;
    } */
    .services {
        justify-content: center;
    }
}

@media (max-width: 580px) {
    .services-point {
        width: 100%;
    }

    .services-point-item {
        width: 100%;
    }

    .services-point > div {
        padding: 15px;
    }

    .services-point > div:last-child {
        padding: 15px;
    }
}

@media (max-width: 440px) {
    .container-description {
        flex-wrap: wrap;
    }

    .modal-description {
        width: 100%;
    }

    .short-description > h1 {
        font-size: 33px;
        text-align: left;
        padding-left: 30px;
        font-weight: 400;
    }

    .mimi-p, .mini-p {
        text-align: left;
        padding-left: 30px;
    }

    .mini-p {
        margin-bottom: 20px;
    }

    .container-description, .container, .container-0 {
        margin: 40px auto;
    }

    .container-contacts {
        margin-bottom: -40px;
    }

    .about-clinic > div > h1, .name-services, .arrows > h1, .our-specialists {
        font-size: 27px;
        padding-left: 30px;
    }
}

@media (max-width: 530px) {
    .working-hours {
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .services-hover {
        flex-direction: column;
    }
}

@media (max-width: 742px) {
    .inc-name {
        text-align: left;
        padding-left: 30px;
    }

    .link-footer {
        text-align: left;
        justify-content: flex-start;
        padding-left: 30px;
    }

    .logo-footer {
        padding-left: 30px;
    }
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 1em;
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #006461;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: #006461;
    text-decoration: none;
    transition: 0.2s;
}

.nav-link:hover {
    text-decoration: underline;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
    text-decoration: none;
    color: #006461;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button::before {
    content: "";
    margin-top: -8px;
}

.menu-button::after {
    content: "";
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 768px) {

    .menu-btn {
        display: block;
    }

    .menu {
        display: none;
    }

    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li {
        border-bottom: 1px solid #006461;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu > li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: #006461;
        cursor: pointer;
        background-color: #F8FFFF;
    }

    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}